---
Language: Cpp
Standard: c++20

# Our coding style is based on WebKit with some Linux coding style overrides.
BasedOnStyle: WebKit

# Line break after brace only in function definitions:
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

# Line breaks are not enforced:
ColumnLimit: 0

AllowShortFunctionsOnASingleLine: None

PointerAlignment: Right

NamespaceIndentation: None
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

AlignTrailingComments: true
