name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Install build requirements
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install --yes --no-install-recommends g++ meson ninja-build libuv1-dev libldns-dev libnghttp2-dev gnutls-dev pkgconf

      - name: Setup Meson Build
        shell: bash
        run: meson setup ${{github.workspace}}/build

      - name: Build
        shell: bash
        run: ninja -C ${{github.workspace}}/build
